/* add css module styles here (optional) */
.payphone-btns {
  margin: 2em;
  padding: 0.5em;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;

}



.payphone-btns #btn-credit-card {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: max-content;
  background: greenyellow;
  text-align: center;
  color: white;
}



.payphone-btns #btn-payphone-balance{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: max-content;
  background: orange;
  text-align: center;
  color: white;
}

